$b-xs: 768px; // BELOW 768
$b-sm: 768px; // BIGGER THAN 768
$b-md: 992px; // BIGGER THAN 992
$b-lg: 1200px; // BIGGER THAN 1200


#intro {

  padding-left: 30px;
  padding-bottom: 30px;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .ss-logo__intro{
    margin-bottom: 20px;
  }

  .intro__title_top {
    font-size: 40px;
  }

  .intro__title_bottom {
    font-size: 20px;
  }

  .arrow {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    
  }
}

