#navbar {
  transition: all .15s ease-in;

  #navItems {
    #collapseDiv {
      height: 100vh;
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li>a {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

.projects-nav {
  position: fixed;
  z-index: 1000;
  margin-left: 1%;

  &>div {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;

    .proj-btn__active {
      font-size: 18px;
      color: #ef8354;
    }

    a {
      color: #999;
      text-decoration: none;

      &:hover {
        color: #ef8354!important;
      }
    }
  }
}

@media(max-width:992px) {
  .projects-nav {
    width: 100%;
    left: 95%;
  }
}

@media(max-width:768px) {
  .navbar-inverse .navbar-nav>.active>a,
  .navbar-inverse .navbar-nav>.active>a:focus,
  .navbar-inverse .navbar-nav>.active>a:hover {
    width: 90vw;
    color: #fff;
    background-color: #080808;
    text-align: center;
  }

  .projects-nav {
    margin-left: 0px;
    left: 94%;
  }
}

@media(min-width:768px) {
  #navItems {
    flex-direction: row !important;

    li>a {
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }
}

@media(max-width:480px) {
  .projects-nav {
    left: 92%;
  }
}